<head>
    <link href="Content/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Add an address to your contact</h1>
    <form action="/contact/new_address/@Model.GetId()" method="post">
        <div class="form-group">
            <label for="contact-street">Street Address: </label>
            <input type="text" id="contact-street" name="contact-street" required autofocus placeholder="26 Picnic Rd." pattern="\d+\s\w+">
        </div>
        <div class="form-group">
            <label for="contact-apt">Apt./Suite #(if applicable): </label>
            <input type="number" id="contact-apt" name="contact-apt" placeholder="402">
        </div>
        <div class="form-group">
            <label for="contact-city">City: </label>
            <input type="text" id="contact-city" name="contact-city" required placeholder="Portland">
        </div>
        <div class="form-group">
            <label for="contact-state">State: </label>
            <input type="text" id="contact-state" name="contact-state" required placeholder="CA" pattern="\w{2}" title="Enter the abbreviation">
            <label for="contact-zip">Zip: </label>
            <input type="number" id="contact-zip" name="contact-zip" required placeholder="97201" pattern="\d{5}">
        </div>
        <button type="submit">Create this contact</button>
    </form>
    <h3><a href="/">Click here to return to the address book without adding a new contact</a></h3>
</body>
