<head>
    <link href="@Url.Content("~/Content/css/styles.css")" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>No contacts fit your search.</h1>

    <h2>Did you mean to search for:</h2>
    @foreach(string suggestion in Model)
    {
        <li><a href="/contacts/search/@suggestion">@suggestion</li>
    }

    <h3><a href="/">Click here to return to your address book</a></h3>
</body>
